TEST_ENV=test
JETBAY_TEST_BASE_URL=https://dev.jet-bay.com
JETBAY_SOS_API_BASE_URL=https://webdev.jet-bay.com/jetbay-web

JETBAY_TEST_LOGIN_EMAIL=
JETBAY_TEST_LOGIN_PASSWORD=
JETBAY_TEST_FORM_EMAIL=

JETBAY_TEST_DB_NAME=
JETBAY_TEST_DB_HOST=
JETBAY_TEST_DB_PORT=3306
JETBAY_TEST_DB_USER=
JETBAY_TEST_DB_PASSWORD=
JETBAY_TEST_DB_DATABASE=
JETBAY_TEST_DB_CHARSET=utf8mb4
