venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.playwright/

.env
.env.*
!.env.example

allure-results/
allure-report/
screenshots/
prod_chunks/
artifacts/
.vscode/launch.json
.vscode/settings.json

.coverage
htmlcov/
